<?xml version="1.0"?>

<config>
    <modules>
        <ML_Homepage>
            <version>0.1.0</version>
        </ML_Homepage>
    </modules>
    <global>
        <resources>
            <ml_homepage_setup>
                <setup>
                    <module>ML_Homepage</module>
                    <class>ML_Homepage_Model_Resource_Setup</class>
                </setup>
            </ml_homepage_setup>
        </resources>
        <blocks>
            <ml_homepage>
                <class>ML_Homepage_Block</class>
            </ml_homepage>
        </blocks>
        <helpers>
            <ml_homepage>
                <class>ML_Homepage_Helper</class>
            </ml_homepage>
        </helpers>
        <models>
            <ml_homepage>
                <class>ML_Homepage_Model</class>
                <resourceModel>ml_homepage_resource</resourceModel>
            </ml_homepage>
            <ml_homepage_resource>
                <class>ML_Homepage_Model_Resource</class>
                <entities>
                    <homepage>
                        <table>ml_homepage_homepage</table>
                    </homepage>
                </entities>
            </ml_homepage_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <ml_homepage>
                    <file>ml_homepage.xml</file>
                </ml_homepage>
            </updates>
        </layout>
        <translate>
            <modules>
                <ML_Homepage>
                    <files>
                        <default>ML_Homepage.csv</default>
                    </files>
                </ML_Homepage>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ML_Homepage before="Mage_Adminhtml">ML_Homepage_Adminhtml</ML_Homepage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <ml_homepage>
                    <file>ml_homepage.xml</file>
                </ml_homepage>
            </updates>
        </layout>
    </frontend>
</config>
