<?xml version="1.0"?>

<config>
    <modules>
        <ML_FlipbookCarousel>
            <version>0.1.0</version>
        </ML_FlipbookCarousel>
    </modules>
    <global>
        <resources>
            <ml_flipbookcarousel_setup>
                <setup>
                    <module>ML_FlipbookCarousel</module>
                    <class>ML_FlipbookCarousel_Model_Resource_Setup</class>
                </setup>
            </ml_flipbookcarousel_setup>
        </resources>
        <blocks>
            <ml_flipbookcarousel>
                <class>ML_FlipbookCarousel_Block</class>
            </ml_flipbookcarousel>
        </blocks>
        <helpers>
            <ml_flipbookcarousel>
                <class>ML_FlipbookCarousel_Helper</class>
            </ml_flipbookcarousel>
        </helpers>
        <models>
            <ml_flipbookcarousel>
                <class>ML_FlipbookCarousel_Model</class>
                <resourceModel>ml_flipbookcarousel_resource</resourceModel>
            </ml_flipbookcarousel>
            <ml_flipbookcarousel_resource>
                <class>ML_FlipbookCarousel_Model_Resource</class>
                <entities>
                    <flipbookcarousel>
                        <table>ml_flipbookcarousel_flipbookcarousel</table>
                    </flipbookcarousel>
                    <flipbookcarousel_store>
                        <table>ml_flipbookcarousel_flipbookcarousel_store</table>
                    </flipbookcarousel_store>
                </entities>
            </ml_flipbookcarousel_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <ml_flipbookcarousel>
                    <file>ml_flipbookcarousel.xml</file>
                </ml_flipbookcarousel>
            </updates>
        </layout>
        <translate>
            <modules>
                <ml_FlipbookCarousel>
                    <files>
                        <default>ML_FlipbookCarousel.csv</default>
                    </files>
                </ml_FlipbookCarousel>
            </modules>
        </translate>
        <global_search>
            <flipbookcarousel>
                <class>ml_flipbookcarousel/adminhtml_search_flipbookcarousel</class>
                <acl>ml_flipbookcarousel</acl>
            </flipbookcarousel>
        </global_search>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <flipbookcarousel_setting translate="title">
                                            <title>Carousel </title>
                                            <sort_order>65</sort_order>
                                        </flipbookcarousel_setting>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ML_FlipbookCarousel before="Mage_Adminhtml">ML_FlipbookCarousel_Adminhtml</ML_FlipbookCarousel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <ml_flipbookcarousel>
                    <file>ml_flipbookcarousel.xml</file>
                </ml_flipbookcarousel>
            </updates>
        </layout>
    </frontend>
</config>
